@font-face {
    font-family: OpenSans;
    src: url(../assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Staatliches;
    src: url(../assets/Staatliches-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

:root {
    --wit: #fff;
    --zwart: #000;

    --bodycolor: #fff;

    --tekstkleur: #000;
    --tekstkleuralt: #fff;

    --primair: #A0AECD;
    --secundair: #C1E1C1;
    --accentkleur: #2568FB;
}

:root.darkmode {
    --bodycolor: #000;

    --tekstkleur: #fff;
    --tekstkleuralt: #000;

    --primair: #ffc82a;
    --secundair: #C1E1C1;
    --accentkleur: #2568FB;
}

*:focus-visible {
    outline: red dashed;
    outline-width: 3px;
}

body {
    background: var(--bodycolor);
}

button {
    border-style: none;
    cursor: pointer;
}

a {
    color: var(--tekstkleur);
}

h2 {
    font-weight: 600;
}

section {
    background: var(--bodycolor);
}



/*****************************
navbar
*****************************/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    text-align: center;
    z-index: 10;
    transition: all .3s ease-in-out;
}

body > div {
    background: var(--bodycolor);
    width: 100%;
    height: 5em;
}

header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav p {
    font-size: 1.7rem;
    color: var(--tekstkleur);
}

header nav button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.6em;
    width: 3.5em;
    background: transparent;
}

header nav button span {
    height: .25em;
    width: 100%;
    background: var(--accentkleur);
    transition: all .3s;
}



/*****************************
nav uitklap
*****************************/
body.openhamburger header nav button span {
    background: var(--wit);
}

body.openhamburger > nav {
    transform: translateX(0);
}

body.openhamburger > nav ul li a {
    display: block;
}

body.openhamburger header nav button {
    transform: translateX(-1.2em);
}

body.openhamburger header nav button span:nth-of-type(1) {
    transform: rotate(45deg) translate(1.2em, -.25em);
}

body.openhamburger header nav button span:nth-of-type(2) {
    transform: translateX(-50px);
    background: transparent;
}

body.openhamburger header nav button span:nth-of-type(3) {
    transform: rotate(-45deg) translate(1.2em, .25em);
}



/*****************************
pagina-navigatie
*****************************/
body > nav {
    position: fixed;
    width: 30%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    text-align: center;
    z-index: 9;
}

body > nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.3em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

body > nav ul li {
    font-size: 2.2rem;
}

body > nav ul li a {
    color: var(--wit);
    display: none;
}

body > nav > div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 3em;

}

body > nav > div p {
    color: var(--wit);
}

body > nav div button {
    position: relative;
    height: 1.3em;
    width: 2.8em;
    padding: .1em;
    background: white;
    border-radius: 999999px;
    margin: 0 1em;
    transition: all linear .3s;
}

body > nav div button span {
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 999999px;
    background: #6888ec;
    top: .15em;
    left: .15em;
    transition: all linear .3s;
}

:root.darkmode body > nav div button {
    background: #4f4f4f;
}

:root.darkmode body > nav div button span {
    transform: translateX(150%);
    background: #eccc68;
}



/*****************************
index, 1e section (Laurens Duin)
*****************************/
.index section:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 5em); /* 100vh - hoogte van header */
}

.index section:first-of-type h1 {
    line-height: 1em;
    font-size: 6em;
    letter-spacing: -8px;
}

.index section:first-of-type h1 span {
    color: var(--tekstkleur);
    font-family: Staatliches, OpenSans;
    font-weight: normal;
    display: inline-block;
}

.index section:first-of-type h1 span.dance {
    animation: dance .5s;
}

@keyframes dance {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}

.index section:first-of-type svg {
    width: 1.8em;
    animation: downarrow .6s infinite alternate-reverse;
}

@keyframes downarrow {
    from {
    transform: scale(1);
    }
    to {
    transform: scale(1.2);
    }
}



/*****************************
index, 2e section (wie ben ik)
*****************************/
.index section:nth-of-type(2) {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-column-gap: 3em;
    background: var(--primair);
    padding: 2em;
    border-radius: 1em;
    max-width: 80em;
}

.index section:nth-of-type(2) > img {
    width: 35em;
    justify-self: right;
}

.index section:nth-of-type(2) > div:first-of-type h2 {
    font-size: 1.8rem;
}

.index section:nth-of-type(2) > div:first-of-type p {
    font-size: 1.25rem;
}

.index section:nth-of-type(2) > div:first-of-type p a {
    color: var();
    /* kleurtje verzinnen */
}



/*****************************
index, 3e section (mijn vaardigheden)
*****************************/
.index section:nth-of-type(3) {
    display: grid;
    margin: 0 15vw;
    margin-top: 5em;
}

.index section:nth-of-type(3) h2 {
    grid-column: 1/4;
    margin-bottom: 1em;
}

.index section:nth-of-type(3) ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--secundair);
    border-radius: 1em;
    width: fit-content;
    min-width: 12.5em;
    height: 20em;
    padding: 1.5em;
}

.index section:nth-of-type(3) ul li:first-child {
    font-weight: bold;
    font-size: 1.1rem;
}



/*****************************
index, 4e section (mijn werk)
*****************************/
.index section:nth-of-type(4) {
    display: grid;
    margin: 0 15vw;
    margin-top: 5em;
}

.index section:nth-of-type(4) h2 {
    margin-bottom: 1em;
}

.index section:nth-of-type(4) ul {
    display: flex;
    gap: 2em;
}

.index section:nth-of-type(4) ul li {
    position: relative;
}

.index section:nth-of-type(4) ul li img {
    width: 22.5vw;
    /* border: solid 1px black; */
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.index section:nth-of-type(4) ul li div {
    color: var(--wit);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    transition: all ease-in-out .2s;
}

.index section:nth-of-type(4) ul li div:hover,
.index section:nth-of-type(4) ul li div:focus {
    background: rgba(0, 0, 0, 0.6);
    opacity: 100;
}

.index section:nth-of-type(4) ul li div h3 {
    text-decoration: underline;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    padding: .5em;
}





/*****************************
mijn werk 1e section (Among us)
*****************************/
.mijnwerk section {
    display: grid;
    width: 90vw;
    margin: 0 5vw;
    grid-template-columns: 65% 1fr;
    gap: 1em;
    height: fit-content;
    min-height: 100vh;
    border-bottom: solid 2px gainsboro;
    padding: 2em 0;
}

.mijnwerk section:first-of-type {
    padding: 0 0 2em 0;
}

.mijnwerk section img {
    width: 100%;
}

.mijnwerk section aside {
    padding: 1em;
    position: relative;
    height: 20em;
    width: 15em;
    background: gainsboro;
    border-radius: 5px;
}

.mijnwerk section aside ul {
    position: absolute;
    display: flex;
    bottom: 1em;
    justify-content: center;
    width: calc(100% - 2em);
    gap: .5em;
}

.mijnwerk section aside ul li {
    text-align: center;
    padding: .5em;
    border: solid 2px black;
    border-radius: 10px;
    min-width: 40%;
}

.mijnwerk section aside p {
    margin-bottom: 1em;
}

.mijnwerk section aside p strong {
    font-weight: bold;
}

.mijnwerk section aside ul li a {
    display: block;
}






/*****************************
footer
*****************************/
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
}

footer ul {
    display: flex;
    column-gap: 1.5em;
}

footer ul li a svg {
    width: 3.5em;
    transition: all .1s;
}

footer ul li a svg path {
    fill: var(--tekstkleur)
}

footer ul li a svg:hover {
    /* fill: var(--tekstkleur) */
    transform: scale(1.1);
}

footer small {
    color: var(--tekstkleur);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5em;
}



/*****************************
mobiel
*****************************/
@media screen and (max-width: 768px) {
    /*****************************
    nav 768px
    *****************************/
    header {
        background: var(--bodycolor)
    }

    body > nav {
        width: 100%;
    }

    body section {
        margin-bottom: 2em !important;
    }

    /*****************************
    nav uitklap 768px
    *****************************/
    body.openhamburger header nav p {
        color: var(--wit);
        transition: all .3s ease-in-out;
    }

    body.openhamburger header {
        background: rgba(0,0,0,0);
    }



    /*****************************
    index 1e section (h1) 768px
    *****************************/
    .index section:first-of-type h1 {
        font-size: 5.5rem;
    }



    /*****************************
    index 2e section (wie ben ik) 768px
    *****************************/
    .index section:nth-of-type(2) {
        grid-template-columns: 1fr;
        padding: .7em;
    }

    .index section:nth-of-type(2) img {
        width: 70vw;
        margin-bottom: 2em;
        justify-self: center;
    }



    /*****************************
    index 3e section (vaardigheden) 768px
    *****************************/
    .index section:nth-of-type(3) {
        width: 90vw;
        margin: 0 5vw;
        position: relative;
    }

    .index section:nth-of-type(3) h2 {
        grid-column: 1/2;
    }

    .index section:nth-of-type(3) ul {
        margin-bottom: 1em;
        width: calc(100% - 3em);
        /* padding links en rechts = 1.5 + 1.5 */
        min-width: 0;
    }



    /*****************************
    index 4e section (mijn werk) 768px
    *****************************/
    .index section:nth-of-type(4) {
        width: 90vw;
        margin: 0 5vw;
    }

    .index section:nth-of-type(4) ul {
        flex-direction: column;
    }

    .index section:nth-of-type(4) ul li img {
        width: 100%;
    }





/*****************************
mijn werk 1e section (Among us) 768px
*****************************/
.mijnwerk section {
    grid-template-columns: 1fr;
}

.mijnwerk section aside {
    margin: 0 auto;
    height: 12.5em;
    grid-row: 3 / 4;
}

}



/*****************************
reduced motion
*****************************/
@media (prefers-reduced-motion) {
    * {
        transition: none !important;
    }
}