@font-face {
    font-family: OpenSans;
    src: url(../assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

:root {
    --wit: #ffffff;
    --zwart: #000000;

    --tekstkleur: #ffffff;
    --achtergrondprimar: #232533;
    --achtergrondsecundair: #252b3e;

    --navactive: #ff0038;
}

:root.lightmode {
    --tekstkleur: #000000;
    --achtergrondprimar: #DCDACC;
    --achtergrondsecundair: #DAD4C1;

    --navactive: #ff0038;
}

body {
    background-color: var(--achtergrondprimar);
    color: var(--tekstkleur);
    overflow: hidden;
}

a {
    display: block;
    color: var(--tekstkleur);
}

button {
    border-style: none;
    color: var(--tekstkleur);
    cursor: pointer;
}



/*****************************
nav algemeen
*****************************/
#mainnav {
    background-color: var(--achtergrondsecundair);
    width: 100%;
    height: 8em;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 99;
}

#mainnav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 1.5em;
}

#mainnav ul li {
    margin-left: 3em;
}

#mainnav ul li a {
    font-size: 2em;
    transition: 0.3s;
    cursor: pointer;
}

#mainnav ul li a.active {
    color: var(--navactive);
    border-bottom: .1em solid var(--navactive);
    padding-bottom: .5em;
}

#mainnav ul li a:hover, #mainnav ul li a:focus {
    color: var(--navactive);
}

#mainnav ul li button {
    height: 1.5em;
    width: 3.5em;
    border-style: none;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
}

#mainnav ul li button span {
    height: .2em;
    width: 100%;
    background: var(--tekstkleur);
    transition: all .3s;
}

#mainnav ul li:last-of-type button {
    display: none;
}



/*****************************
mobile nav
*****************************/
#mobilenav {
    z-index: 98;
    position: fixed;
    top: -100%;
    left: 0;
    height: 60%;
    width: 100%;
    background-color: var(--achtergrondsecundair);
    transition: all .5s cubic-bezier(.16,.56,.23,1.01);
    
}

#mobilenav ul {
    margin-top: 7em;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 3em;
}

#mobilenav ul li a {
    margin: 0 auto;
    font-size: 2.5em;
    width: 100%;
}

#mobilenav ul li:last-of-type {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#mobilenav ul li:last-of-type button {
    position: relative;
    height: 1.8em;
    width: 3.5em;
    padding: .1em;
    background: #4f4f4f;
    border-radius: 999999px;
    margin: 0 1em;
}

#mobilenav ul li:last-of-type button span {
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    border-radius: 999999px;
    background: #d3c7b5;
    transition: all linear .3s;
    top: 0.2em;
    right: 0.2em;
}

html.lightmode #mobilenav ul li:last-of-type button span {
    transform: translateX(-125%);
}



/*****************************
mobile nav active
*****************************/
.active {
    color: var(--navactive);
}

.activenav #mobilenav {
    top: 0;
}

.activenav #mainnav {
    border-bottom: .1em solid var(--navactive);
}

.activenav #mainnav ul li button span:first-of-type {
    transform: translateY(.6em) rotate(45deg);
}

.activenav #mainnav ul li button span:last-of-type {
    transform: translateY(-.6em) rotate(-45deg);
}



/*****************************
content algemeen
*****************************/
main {
    overflow-x: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

main section {
    scroll-behavior: smooth;
    display: inline-block;
    width: 100vw;
    scroll-snap-align: start;
    transition: all 1s;
    height: 85vh;
    overflow-x: hidden;
}

main section article {
    /* min-height: 20em; */
    width: 100%;
    background-color: var(--achtergrondprimar);
    height: fit-content;
    padding: 3em 0;
}

main section article div.nogutter {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section article:nth-of-type(2n) {
    background-color: var(--achtergrondsecundair);
}


/*****************************
custom scrollbar (nog doen)
*****************************/
::-webkit-scrollbar {
    display: none;
}



/*****************************
homepage
*****************************/
#homepage article:first-of-type div.nogutter {
    column-gap: 7em;
}

#homepage article:first-of-type h1 {
    font-size: 3em;
    grid-column: 2 / 3;
}

#homepage article:first-of-type p {
    font-size: 2em;
    grid-column: 2 / 3;
    max-width: 15em;
    white-space: normal;
}

#homepage article:first-of-type img {
    grid-column: 1 / 2;
    justify-self: right;
    grid-row: 1 / 3;
}



/*****************************
mijn werk page
*****************************/
/* #mijnwerkpage article {
    min-height: 30em;
} */

/* #mijnwerkpage article div {
    margin-top: 5em;
} */

#mijnwerkpage article div p {
    display: inline;
    white-space: normal;
    overflow-wrap: break-word;
}

#mijnwerkpage article div img {
    justify-self: center;
    width: 90%;
    margin: 0 2em;
    grid-row: 1 / 3;
}

#mijnwerkpage article:nth-of-type(odd) div img {
    grid-column: 2 / 3;
}

#mijnwerkpage article div ul {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

#mijnwerkpage article:nth-of-type(odd) div ul {
    grid-column: 2 / 3;
}

#mijnwerkpage article div ul li {
    border: solid .2em var(--wit);
    border-radius: 1em;
    min-width: 6em;
    text-align: center;
}

#mijnwerkpage article div ul li a {
    display: block;
    padding: .8em;
}

#mijnwerkpage article div h2 {
    margin-bottom: .5em;
    font-size: 2em;
}

#mijnwerkpage article div a:hover {
    transition: .3s;
    border-color: #ff0038;
}



/*****************************
contactpage
*****************************/
#contactpage article div form input:focus::placeholder {
    color: transparent;
}

#contactpage article div form input {
    outline: none;
    display: block;
    background-color: var(--achtergrondsecundair);
    border: white .2em solid;
    border-radius: 1em;
    color: white;
    padding: .5em;
}

#contactpage article div form em {
    color: var(--navactive);
}



/*****************************
footer
*****************************/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
    height: 15em;
    width: 100%;
    background-color: var(--achtergrondsecundair);
    text-align: center;
    overflow: hidden;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li a img {
    width: 40%;
}

footer ul li a img:hover {
    opacity: 70%;
}

footer small {
    position: absolute;
    bottom: .5em;
    left: .5em;
}



/*****************************
mobiel
*****************************/
@media screen and (max-width: 768px) {
/*****************************
nav
*****************************/
#mainnav {
    height: 4.5em;
}

#mainnav ul li:not(#mainnav ul li:last-of-type) {
     display: none;
}

#mainnav ul li:last-of-type button,
#mobilenav ul li:first-of-type button {
    display: flex;
}



/*****************************
main (768px)
*****************************/
body #pagescontainer section div.nogutter {
    width: 90%;
    grid-template-columns: 1fr;
}



/*****************************
homepage (768px)
*****************************/
body #pagescontainer #homepage div header {
    text-align: left;
    max-width: 90%;
} 

body #pagescontainer #homepage div p {
    grid-column: 1 / 2;
    font-size: 1.5em;
    margin-bottom: 2em;
} 
    
#homepage article:first-of-type h1 {
    font-size: 3em;
    grid-column: 1 / 2;
}
    
#homepage article:first-of-type img {
    justify-self: center;
    grid-row: auto;
}



/*****************************
mijn werk (768px)
*****************************/
#mijnwerkpage article div img, #mijnwerkpage article:nth-of-type(odd) div img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 2em;
}

#mijnwerkpage article:nth-of-type(odd) div ul {
    grid-column: auto;
}
}



/*****************************
reduced motion
*****************************/
@media (prefers-reduced-motion) {
* {
    transition: none !important;
    scroll-behavior: auto !important;
}
}